.WeatherAppProject {
  margin: 40px auto;
  width: 700px;
  border: 3px solid #52057b;
  padding: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.city {
  font-size: 50px;
  padding: 20px 0 0 0;
  color: #52057b;
}

.current-date {
  font-size: 25px;
  color: #52057b;
}

.temperature-divider {
  font-size: 20px;
}

.current-temperature {
  font-size: 70px;
  font-weight: 350;
  color: #52057b;
  padding-top: 20px;
  padding-left: 20px;
}

.temperature-unit-clickable {
  font-size: 20px;
}

.current-weather {
  align-items: center;
}

.current-weather-icon {
  padding-top: 20px;
}

.current-city {
  text-transform: capitalize;
}

.weather-description {
  text-transform: capitalize;
  color: #52057b;
  font-size: 30px;
  padding-top: 40px;
}

.min-max-temp {
  color: #52057b;
  font-size: 20px;
  padding-right: 0px;
  padding-left: 40px;
  text-align: center;
  font-weight: 500;
}

.weather-info {
  color: #52057b;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.sunrise-sunset {
  color: #52057b;
  font-size: 20px;
  padding-left: 15px;
  text-align: center;
  font-weight: 500;
}

.forecast-heading {
  color: #52057b;
  margin-bottom: 20px;
}

.weather-forecast {
  text-align: center;
  color: #52057b;
  align-items: center;
}

.weather-forecast canvas {
  width: 70px;
}

.coded-by {
  text-align: center;
}
